@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: ui-sans-serif, system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth;
}
